<section class="bem-vindo">
    <div class="container">
        <h1>AQUI SEU EVENTO É INESQUECÍVEL</h1>
        <p>
            Oferecemos os itens ideiais para que seu evento seja inesquecível!<br>
            Dê uma olhada no nosso site, escolha o seu produto e deixe o resto com a gente!
        </p>
    </div>
</section>


<section class="section-servicos">

    <div class="text-introducao">
        <h1 id=quem-somos>Quem somos</h1>
        <p>
            Somos Diego e Karla, somos sócios e casados, buscando agregar
            um toque especial de capricho, cuidado e compromisso com os produtos
            que você precisa para deixar os seus eventos ainda mais especiais para você
            e para as pessoas mais importantes na sua vida. Estamos presentes em diversos
            eventos de produtos personalizados, com o serviço ideal para você.
        </p>
    </div>

    <div class="slideshow">
        <img class="bottom" src="../../assets/apresentacao2-recortada.jpg">
        <img class="top" src='../../assets/apresentacao1-recortada.jpg'>
    </div>

</section>

<section class="section-produtos">

    <div class="carousel-container">
        <ngb-carousel>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="../../assets/produto1.jpg" alt="Random first slide">
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="../../assets/produto2.jpg" alt="Random first slide">
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="../../assets/produto3.jpg" alt="Random first slide">
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="../../assets/produto4.jpg" alt="Random first slide">
                </div>
            </ng-template>
        </ngb-carousel>

        <div class="text-container">
            <h1>Para você escolher</h1>

            <p>
                Canecas, lembraçinhas, kits, caixas personalizadas e tudo o que  você precisar
                para que sua festa fique do seu jeitinho que você sempre quis. Personalize de 
                acordo com o que você planejou e  deixe o resto conosco!  
            </p>
        </div>

    </div>

</section>